#presentation {
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  height: 100vh;
  .centered {
    margin: 0 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.8s ease;
    &.show {
      opacity: 1;
    }
  }
  .card {
    z-index: 2;
    padding: 2em;
    max-width: 460px;
    border-radius: 3px;
    background-color: $primary;
    box-shadow: -4px -4px 12px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.2);
    .email {
      font-size: 1.4em;
      margin-top: 8px;
      display: block;
      user-select: text;
    }
    img {
      width: 100%;
      margin: 0 auto;
      border-radius: 3px;
      box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.1), 4px 4px 4px rgba(0, 0, 0, 0.2);
      filter: grayscale(100%);
    }
    h1 {
      font-size: 3.6em;
      line-height: 1.6em;
      font-weight: bold;
      color: #f9f9f9;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      color: #f9f9f9;
      @supports (-webkit-text-stroke: 1px $text-color) {
        -webkit-text-stroke: 1px $text-color;
      }
    }
    h2 {
      font-size: 1.8em;
      font-weight: bold;
      letter-spacing: 0.04rem;
      color: $text-color;
    }
    ul {
      margin: 12px 0;
      display: flex;
      font-size: 1.8em;
      li {
        color: $text-color;
        cursor: pointer;
        transition: color 0.4s;
        padding: 4px;
        a,
        a:any-link {
          color: currentColor;
          display: flex;
        }
      }
      li:hover {
        color: #f9f9f9;
      }
      li + * {
        margin-left: 8px;
      }
    }
    .tech {
      display: flex;
      flex-direction: column;
      font-size: 1.6em;
      color: #070707;
      > span + * {
        margin-top: 4px;
      }
    }
  }
}

#personal-information {
  display: none;
  z-index: 1;
  position: absolute;
  max-width: 280px;
  top: 66%;
  background-color: rgba(255, 208, 0, 0.8);
  right: 0;
  transition: transform 0.8s, opacity 0.4s;
  padding: 2em 1em 2em 3em;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 8px;
  }
  p {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  &[aria-hidden="false"] {
    opacity: 1;
    transform: translateX(100%);
  }
}

#arrow {
  display: none;
}

@media screen and (min-width: $low-laptop) {
  #personal-information {
    display: block;
  }
  #arrow {
    display: inline;
    border: 0;
    padding: 4px;
    background: transparent;
    position: absolute;
    color: $text-color;
    right: 8px;
    top: 75%;
    cursor: pointer;
    transition: color 0.4s;

    &[aria-pressed="true"] {
      color: #f9f9f9;
    }
    &:hover {
      color: #f9f9f9;
    }
  }

  #presentation {
    min-height: 720px;
    .card {
      padding: 4.5em;
      > * {
        user-select: none;
      }
      img {
        width: 100%;
        max-width: 460px;
      }
      h1 {
        font-size: 4.8em;
      }
      h2 {
        font-size: 2.4em;
      }
      ul {
        font-size: 2.4em;
      }
      .tech {
        font-size: 2em;
        > span + * {
          margin-top: 8px;
        }
      }
    }
  }
}
